{% extends "bas.html" %} {% load static %}

<!--  -->
{% block css %}

{% endblock %}
{% block slide %}

<div class="content__wrapper">
    <div class="grid__flex">
        <h2>Liste des derniers accès au site vincent.callebaut.org </h2>
    </div>
    <div class="grid__flex">
        <h1>Pages ouvertes aujourd'hui : {{cpt}}</h1>
    </div>
    <div class="grid__flex">
        <h3>24h00 : {{cpt24}}</h3>
        <h3>01h00 : {{cp1}}</h3>
        <h3>02h00 : {{cpt2}}</h3>
        <h3>03h00 : {{cpt3}}</h3>
        <h3>04h00 : {{cpt4}}</h3>
        <h3>05h00 : {{cpt5}}</h3>
        <h3>06h00 : {{cpt6}}</h3>
        <h3>07h00 : {{cpt7}}</h3>
        <h3>08h00 : {{cpt8}}</h3>
        <h3>09h00 : {{cpt9}}</h3>
        <h3>10h00 : {{cpt10}}</h3>
        <h3>11h00 : {{cpt11}}</h3>     
    </div>
    <div class="grid__flex">
        <h3>12h00 : {{cpt12}}</h3>
        <h3>13h00 : {{cpt13}}</h3>
        <h3>14h00 : {{cpt14}}</h3>
        <h3>15h00 : {{cpt15}}</h3>
        <h3>16h00 : {{cpt16}}</h3>
        <h3>17h00 : {{cpt17}}</h3>
        <h3>18h00 : {{cpt18}}</h3>
        <h3>19h00 : {{cpt19}}</h3>
        <h3>20h00 : {{cpt20}}</h3>
        <h3>21h00 : {{cpt21}}</h3>
        <h3>22h00 : {{cpt22}}</h3>
        <h3>23h00 : {{cpt23}}</h3>    
    </div>
    <br />
    <div class="grid__flex">
        <table>
            <th style="text-align: left; width: 200px">Date</th>
            <th style="text-align: left">IP visiteur </th>
            <TH style="text-align: left">Page Vue</TH>
            <th style="text-align: left">Email Ajouté</th>
            {% for visit in visiteurs %}
            <tr>
                <td>{{visit.test2}}</td>
                <td>{{visit.ip}} </td>
                <td>{{visit.page}} </td>
                <td>{{visit.email}} </td>
            </tr>
            {% endfor %}
        </table>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <!-- <div class="grid__flex">
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
    </div> -->
</div>

{% endblock %}
{% block grid %}
{% endblock %}
{% block article %}
{% endblock %}