{% extends "bas.html" %} {% load static %}

<!--  -->
{% block css %}

{% endblock %}
{% block slide %}

<div class="content__wrapper">
    <div class="grid__flex">
        <h1>Contient {{distinct}} emails uniques et valides (correction du 15/02/2021)</h1>
    </div>
    <div class="grid__flex">
        <h2>Liste des 1000 dernières inscriptions d'emails </h2>
    </div>
    <div class="grid__flex">
        <table>
            <th style="text-align: left">Date</th>
            <th style="text-align: left">IP visiteur </th>
            <th style="text-align: left">Email Ajouté</th>
            {% for visit in visiteurs %}
            <tr>
                <td>{{visit.test2}}</td>
                <td>{{visit.ip}} </td>
                <td>{{visit.email}} </td>
            </tr>
            {% endfor %}
        </table>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>

{% endblock %}
{% block grid %}
{% endblock %}
{% block article %}
{% endblock %}