{% load static %}
<!--=========================================== Meta =====================================-->

{% if canonical > ""%}
<link rel="canonical" href={{canonical}} />
{% endif %}


<meta name="author" content="Daniel CALLEBAUT">


{% if robots > "" %}
<meta name="robots" content="index follow">
<meta name="googlebot" content="index follow">
{% endif %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="google-site-verification" content="bUmRgwDIWvAsaztlKM_EbiYs6M3huQCf5BZGkH15o2g" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Date-Creation-yyyymmdd" content="20160101">
<meta name="Date-Revision-yyyymmdd" content="20201218">








<!--=======================================================================================-->