{% extends "bas.html" %} {% load static %}

<!--  -->
{% block css %}
<style>
</style>
{% endblock %}
{% block slide %}

<div class="content__wrapper">
    <div class="grid__flex">
        <div class="grid__item"><a href="/creation" class="button button__outline--green">Création ou Modification d'un
                Dossier </a></div>
    </div>
    <div class="grid__flex">
        <div class="grid__item">
            <a href="/setAdminOn" class="button button__outline--green">Edition ON</a>
            <p>Met le site en mode édition sur ce poste pour une durée de 4h00 ou bouton Edition OFF</p>
        </div>
        <div class="grid__item">
            <a href="/setAdminOff" class="button button__outline--red">Edition OFF</a>
            <p>Ferme le mode Edition</p>
        </div>

    </div>
    <div class="grid__flex">
        <div class="grid__item"><a href="/googleUpdate" class="button button__outline--green">Transfert les Datas pour
                Référencement Google et Réseaux Sociaux durée: +/- 1 minute</a>
            <p>A lancer une seule fois après avoir ajouté ou modifié des dossiers</p>
            <p>Résultats dans la semaine pour les ajouts et plus longtemps pour les modifs</p>
            <p>Pour un résultat plus rapide valider la page du nouveau projet sur les 3 validators de réseaux sociaux </p>
            <p>Copier-Coller l'adresse complète de la page 
                d'un projet nouveau ou modifié dans les validators ci-dessous.</p>
        </div>
        <!-- <label for="file">File progress:</label>
                <progress id="file" max="100" value="30"> 10% </progress> -->
    </div>

    <div class="grid__flex">

        <div class="grid__item"><a href="
            <div class=" grid__item"><a href="https://developers.facebook.com/tools/debug/"
                    class="button button__outline--green">Facebook Validator</a>
        </div>

        <div class="grid__item"><a href="https://cards-dev.twitter.com/validator"
                class="button button__outline--green">Tweeter Validator</a>
        </div>

        <div class="grid__item"><a href="https://www.linkedin.com/post-inspector/"
                class="button button__outline--green">Linedin Validator</a>
        </div>

    </div>

    <div class="grid__flex">
        <div class="grid__item"><a href="/acces" class="button button__outline--green">Détails des derniers accès au
                site</a>
        </div>
        <div class="grid__item"><a href="/emailsderniers" class="button button__outline--green">Dernieres Adresses
                Emails</a>
        </div>
    </div>


    
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- <div class="grid__flex">
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
    </div> -->
</div>

{% endblock %}
{% block grid %}
{% endblock %}
{% block article %}
{% endblock %}