{% extends "bas.html" %} {% load static %}

<!--  -->
{% block css %}
<style>
    .image_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        text-align: center;
        z-index: -2;

    }

    .img_dim {
        --main-width-image: calc((100vh - 60px) * 1.415 - 0px);
        display: block;
        max-width: 98vw;
        width: var(--main-width-image);
        background-color: white;
    }


    .button {
        display: inline-block;
        padding: 13px 20px;
        outline: none;
        border: none;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .button:hover,
    .button:focus,
    .button:active {
        text-decoration: none;
    }

    .button--radius {
        border-radius: 0.25em;
    }

    .button--green {
        background: #00B35E;
        color: #fff;
    }

    .button--green:hover {
        background: #00e679;
        color: #fff;
    }

    .button--red {
        background: #F8011E;
        color: #fff;
    }

    .button--red:hover {
        background: #fe2e46;
        color: #fff;
    }

    .button--blue {
        background: #0096D9;
        color: #fff;
    }

    .button--blue:hover {
        background: #0db4ff;
        color: #fff;
    }

    .button--orange {
        background: #F7931E;
        color: #fff;
    }

    .button--orange:hover {
        background: #f9ab4f;
        color: #fff;
    }

    .button--gray {
        background: #999;
        color: #000;
    }

    .button--gray:hover {
        background: #CCC;
        color: #000;
    }

    .button--white {
        background: #fff;
        color: #000;
    }

    .button--white:hover {
        background: #fff;
        color: #000;
    }

    .button-outline--green {
        border: 1px solid #00B35E;
        background: transparent;
        color: #00B35E;
    }

    .button-outline--green:hover {
        border: 1px solid #00e679;
        color: #00e679;
    }

    .button-outline--red {
        border: 1px solid #F8011E;
        background: transparent;
        color: #F8011E;
    }

    .button-outline--red:hover {
        border: 1px solid #fe2e46;
        color: #fe2e46;
    }

    .button-outline--blue {
        border: 1px solid #0096D9;
        background: transparent;
        color: #0096D9;
    }

    .button-outline--blue:hover {
        border: 1px solid #0db4ff;
        color: #0db4ff;
    }

    .button-outline--orange {
        border: 1px solid #F7931E;
        background: transparent;
        color: #F7931E;
    }

    .button-outline--orange:hover {
        border: 1px solid #f9ab4f;
        color: #f9ab4f;
    }

    .button-outline--gray {
        border: 1px solid #999;
        background: transparent;
        color: #999;
    }

    .button-outline--gray:hover {
        border: 1px solid #CCC;
        color: #CCC;
    }

    .button-outline--white {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
    }

    .button-outline--white:hover {
        border: 1px solid #fff;
        color: #fff;
    }

    .button--dropdown {
        padding: 10px 12px 10px 0;
    }

    .button--dropdown:after {
        content: '\25BE';
        font-size: 2rem;
        position: relative;
        float: right;
        padding-left: 1em;
        margin-top: -6px;
        height: 0;
    }

    .button__menu {
        display: none;
        position: absolute;
        z-index: 2;
        min-width: 160px;
        border: 1px solid #CCC;
        background-color: #fff;
        margin-top: .8em;
        text-align: left;
    }

    .button__menu li a {
        text-decoration: none;
        display: block;
        padding: 7px 20px;
        clear: both;
        white-space: nowrap;
        color: #000;
        border-bottom: 1px solid #CCC;
    }

    .button__menu li a:hover {
        background-color: #CCC;
    }

    .button__menu li:last-child a {
        border: 0;
    }


    .main__row,
    .content__wrapper {
        --main-width-image: calc((100vh - 60px) * 1.415 - 0px);
        *zoom: 1;
        margin: 0 auto;
        /* max-width: 92.308em; */
        max-width: var(--main-width-image);
    }


    .grid__row {
        *zoom: 1;
        margin: 0 auto;
        max-width: 92.308em;
    }

    .grid__row:before,
    .grid__row:after {
        display: table;
        content: ' ';
    }

    .grid__row:after {
        clear: both;
    }

    .grid__col-1 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-1 {
            width: 8.33333%;
        }
    }

    .grid__offset-1 {
        margin-left: 8.33333%;
    }

    .grid__col-2 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-2 {
            width: 16.66667%;
        }
    }

    .grid__offset-2 {
        margin-left: 16.66667%;
    }

    .grid__col-3 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-3 {
            width: 25%;
        }
    }

    .grid__offset-3 {
        margin-left: 25%;
    }

    .grid__col-4 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-4 {
            width: 33.33333%;
        }
    }

    .grid__offset-4 {
        margin-left: 33.33333%;
    }

    .grid__col-5 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-5 {
            width: 41.66667%;
        }
    }

    .grid__offset-5 {
        margin-left: 41.66667%;
    }

    .grid__col-6 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-6 {
            width: 50%;
        }
    }

    .grid__offset-6 {
        margin-left: 50%;
    }

    .grid__col-7 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-7 {
            width: 58.33333%;
        }
    }

    .grid__offset-7 {
        margin-left: 58.33333%;
    }

    .grid__col-8 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-8 {
            width: 66.66667%;
        }
    }

    .grid__offset-8 {
        margin-left: 66.66667%;
    }

    .grid__col-9 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-9 {
            width: 75%;
        }
    }

    .grid__offset-9 {
        margin-left: 75%;
    }

    .grid__col-10 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-10 {
            width: 83.33333%;
        }
    }

    .grid__offset-10 {
        margin-left: 83.33333%;
    }

    .grid__col-11 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-11 {
            width: 91.66667%;
        }
    }

    .grid__offset-11 {
        margin-left: 91.66667%;
    }

    .grid__col-12 {
        float: left;
        width: 100%;
    }

    @media (min-width: 768px) {
        .grid__col-12 {
            width: 100%;
        }
    }

    .grid__offset-12 {
        margin-left: 100%;
    }


    .grid__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .grid__item {
    width: 100%;
    padding: 1em 0;
    border: 1px solid #999;
    text-align: center;
    }
</style>
{% endblock %}
{% block slide %}
<br /><br /><br />
<div class="content__wrapper">
    <div class="grid__flex">
        <div class="grid__item"><a href="/creation" class="button button-outline--green">Création ou Modification d'un Dossier </a></div>
    </div>
    <div class="grid__flex">
        <div class="grid__item"><a href="/setAdminOn" class="button button-outline--green">Edition ON</a></div>
        <div class="grid__item"><a href="/setAdminOff" class="button button-outline--red">Edition OFF</a></div>
        
    </div>
 

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- <div class="grid__flex">
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
        <div class="grid__item">div in flex box</div>
    </div> -->
</div>

{% endblock %}
{% block grid %}
{% endblock %}
{% block article %}
{% endblock %}