{% extends "bas.html" %} 

{% block titre %}
{{title}}
<h1 style="color:red;">D{{cpt}}F</h1>
{% endblock %}
{% block slide %}<h1 style="color:red;">D{{cpt}}F</h1>
{% endblock %}
{% block grid %}
<h1 style="color:red;">D{{cpt}}F</h1>
{% include "videos__grid.html"%}
{% endblock %}
{% block article %}
{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="color:red;">D{{cpt}}F</p>