{% load static %}
<!-- *****************************************  zoom slide **************************************** -->

<div class="slide__cadre">
        <div id="slider" class="slide">
                <ul class="slides">
                        <li>
                                <picture>
                                        <a href=javascript:history.go(-1)>
                                                <img class="img lazyload blur-up slide__dim"
                                                        data-src="/static/{{categorie}}/{{date_projet}}/hr/{{thumb}}.jpg"
                                                        alt="{{date_projet}} - {{thumb}}" loading="lazy">
                                        </a>
                                </picture>
                        </li>
                </ul>
        </div>
</div>


<!-- *************************************************************************************************** -->