{% extends "basnew.html" %} 
{% block titre %}
{{title}}
{% endblock %}
{% block css %}
<style>
    .affiche_container {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        z-index: -2;
        margin: 0 auto;
        align-items: center;
        max-width: 98%;
    }

    .affiche_box {}

    .affiche_img {
        height: 100%;
        max-height: calc(100vh - 60px);
        object-fit: contain;
    }
</style>
{% endblock %}
{% block slide %}

{% endblock %}

{% block affiche %}
<div class="affiche_container">
   
    <div class="affiche_box">
        
        <a href=javascript:history.go(-1)>
        <img class="affiche_img lazyload blur-up slide__dim"
        src="/static/{{categorie}}/{{date_projet}}/hr/{{thumb}}.jpg" width="1800px" height="1272px" style="max-width: 100%;" alt="{{date_projet}}-{{thumb}}"/>
        </a>
    </div>
</div>
{% endblock %}
{% block grid %}
{% endblock %}
{% block article %}
{% endblock %}
